//- input.accountTitle(type="radio", name="accountTitle")
//- label(for="accountTitle") #{model.get('title')} n°#{model.get("accountNumber")}
//- span &nbsp;Solde :
//- input.accountAmount(type="text", value="#{Number(model.get('amount')).money()}", disabled="true")
//- span &euro;
td #{model.get('title')} n°#{model.get("accountNumber")}
td.w50px
  button.btn.btn-xs.btn-default.btn-courant(type="button") courant
td.w50px
  button.btn.btn-xs.btn-default.btn-epargne(type="button", id="#{model.get('accountNumber')}") épargne
td.w25px
  button.btn.btn-xs.btn-danger.btn-off(type="button") off
