.context-box-header-bigger
  h2 Relevé du #{model.get('title')} #{model.get("accountNumber")}
  //- p
  //-     span.last-checked #{window.i18n("balance_last_checked")} #{moment(moment(model.get("lastChecked"))).fromNow()}.
  //-     a.recheck-button.btn-link #{window.i18n("balance_recheck_now")}
  //- #search-field-regular-operations
  //-   //- #span.icon-search.fs1(aria-hidden="true", data-icon"&#57471;")
  //-   span Motif:
  //-   input#search-regular-operations
  //-   span &nbsp&nbsp;Min:
  //-   input#search-min-amount.input-small
  //-   span &nbsp&nbsp;Max:
  //-   input#search-max-amount.input-small
  //-   span#empty-search-regular-operations X

  #search-field-regular-operations
    .input-group.input-group-sm.input-simple.pull-left
      span.input-group-addon.icon-search.fs1(aria-hidden="true", data-icon"&#57471;")
      input#search-regular-operations.form-control(type="text")
    .input-group.input-group-sm.input-small.pull-left
      span.input-group-addon Min.
      input#search-min-amount.form-control(type="text")
    .input-group.input-group-sm.input-small.pull-left
      span.input-group-addon Max.
      input#search-max-amount.form-control(type="text")
    .input-group.input-group-sm
      .input-group-btn
        button#empty-search-regular-operations.btn.btn-default(data-original-title="", type="button") Vider
  div.add-regular-operation-container
    button.btn.btn-sm.btn-primary.add-regular-operation(type="button",disabled="true")
      span(aria-hidden="true", data-icon="", class="fs1 iconCostType fixed-cost")
      | Ajouter aux opérations régulières
    br
    p#regular-op-light-info.light-info-2 Sélectionnez une opération, puis éditez le filtre (libellé, min., max.) pour retrouver toutes les occurences de cette opération régulière.
    p#regular-op-exists.text-navy Attention : certaines opérations qui correspondent à cette règle sont déjà régulières.
      //- <span class="input-group-btn">
      //-                     <button data-original-title="" class="btn btn-default" type="button">Submit!</button>
      //-                   </span>

.context-box-content-smaller
  .text-center.loading#loader-regular-operations
    img(src="./loader_big_blue.gif")

  //- table.table.tablesorter.table-striped.table-hover
      //- thead
      //-     tr
      //-         th.sort-date.text-left #{window.i18n("header_date")}
      //-         th.sort-title.text-center #{window.i18n("header_title")}
      //-         th.sort-amount.text-right #{window.i18n("header_amount")}
  table.table.table-bordered.table-condensed.table-striped.table-hover.table-bordered.dataTable
    tbody#table-regular-operations